<a href="https://colab.research.google.com/github/yk-Jeong/Codestates_Project/blob/main/AI_08_%EC%A0%95%EC%9C%A0%EA%B2%BD_Section3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
 import pandas as pd

####데이터 수집
the cocktail DB https://www.thecocktaildb.com/api/json/v1/1/search.php?f=a~z, 0~9

https://www.kaggle.com/ai-first/cocktail-ingredients

In [ ]:
import string

num = list(range(10))
alphabet = list(string.ascii_lowercase)
list1 = alphabet + num

for i in list1:
  url = f'https://www.thecocktaildb.com/api/json/v1/1/search.php?f={i}'
  print(url)

https://www.thecocktaildb.com/api/json/v1/1/search.php?f=a
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=b
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=c
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=d
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=e
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=f
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=g
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=h
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=i
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=j
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=k
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=l
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=m
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=n
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=o
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=p
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=q
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=r
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=s
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=t
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=u
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=v
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=w
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=x
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=y
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=z
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=0
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=1
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=2
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=3
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=4
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=5
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=6
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=7
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=8
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=9

In [ ]:
import json
from pandas import json_normalize

In [ ]:
with open('mergeddata.txt', 'r') as f:
  data = json.load(f)
data = json_normalize(data['drinks'])

####데이터 로드→전처리

In [25]:
df = pd.read_csv("all_drinks.csv")

In [26]:
df

     Unnamed: 0                              strDrink  ... strMeasure9  strVideo
0             0  '57 Chevy with a White License Plate  ...         NaN       NaN
1             1                        1-900-FUK-MEUP  ...                   NaN
2             2                      110 in the shade  ...         NaN       NaN
3             3                151 Florida Bushwacker  ...                   NaN
4             4                           155 Belmont  ...                   NaN
..          ...                                   ...  ...         ...       ...
541         541                       Zippy's Revenge  ...         NaN       NaN
542         542                        Zizi Coin-coin  ...          \n       NaN
543         543                                Zoksel  ...          \n       NaN
544         544                             Zorbatini  ...         NaN       NaN
545         545                                 Zorro  ...         NaN       NaN

[546 rows x 41 columns]

In [27]:
df.rename(columns = lambda x: x.replace("str", ""), inplace=True)

In [28]:
df.rename(columns = {'Drink':'Name', 'idDrink':'ID'}, inplace = True)

In [29]:
#DrinkThumb, Video, Instructions는 검증용 컬럼인 idDrink와 함께 별도의 df로 남겨둠 
df_imgdata = df[['ID', 'DrinkThumb', 'Video', 'Inuctions']]
df_imgdata

        ID  ...                                          Inuctions
0    14029  ...  1. Fill a rocks glass with ice 2.add white cre...
1    15395  ...  Shake ingredients in a mixing tin filled with ...
2    15423  ...              Drop shooter in glass. Fill with beer
3    14588  ...  Combine all ingredients. Blend until smooth. G...
4    15346  ...  Blend with ice. Serve in a wine glass. Garnish...
..     ...  ...                                                ...
541  14065  ...  Mix Kool-Aid to taste then add Rum and ammaret...
542  14594  ...  Pour 5cl of Cointreau on ice, add 2cl of fresh...
543  15691  ...  No specific mixinginstructions, just poor ever...
544  16963  ...  Prepare like a Martini. Garnish with a green o...
545  15328  ...  add all and pour black coffee and add whipped ...

[546 rows x 4 columns]

In [30]:
df['Ingredient1'].isnull().sum() #제1성분이 결측치인 행이 없으므로 제거하지 않고 진행

0

In [31]:
#불필요한 컬럼: dateModified, Unnamed: 0 제거
df = df.drop(['dateModified', 'Unnamed: 0', 'DrinkThumb', 'Video', 'Inuctions'], axis=1)
df

                                     Name     ID  ... Measure8 Measure9
0    '57 Chevy with a White License Plate  14029  ...      NaN      NaN
1                          1-900-FUK-MEUP  15395  ...  1/4 oz
2                        110 in the shade  15423  ...      NaN      NaN
3                  151 Florida Bushwacker  14588  ...   1 cup
4                             155 Belmont  15346  ...
..                                    ...    ...  ...      ...      ...
541                       Zippy's Revenge  14065  ...               NaN
542                        Zizi Coin-coin  14594  ...       \n       \n
543                                Zoksel  15691  ...       \n       \n
544                             Zorbatini  16963  ...      NaN      NaN
545                                 Zorro  15328  ...               NaN

[546 rows x 36 columns]

####결측치 확인 및 처리

In [36]:
#전체 컬럼의 결측치 비율 확인 
df.isnull().sum() / len(df)*100

Name              0.000000
ID                0.000000
Alcoholic         0.183150
Category          0.000000
Glass             0.000000
IBA              86.996337
Ingredient1       0.000000
Ingredient10     99.450549
Ingredient11     99.450549
Ingredient12     99.816850
Ingredient13    100.000000
Ingredient14    100.000000
Ingredient15    100.000000
Ingredient2       0.000000
Ingredient3      15.567766
Ingredient4      46.153846
Ingredient5      69.597070
Ingredient6      85.714286
Ingredient7      95.421245
Ingredient8      97.252747
Ingredient9      98.901099
Measure1          0.000000
Measure10        73.626374
Measure11        87.912088
Measure12        96.336996
Measure13        97.802198
Measure14        99.267399
Measure15        99.450549
Measure2          0.549451
Measure3          1.282051
Measure4          3.479853
Measure5          4.761905
Measure6          4.212454
Measure7          4.395604
Measure8         24.175824
Measure9         52.930403
dtype: float64

ingredient1부터 5까지만 사용하기로 결정-> ingredient6~15는 삭제 

(kmeans 같은거 썼으면 효과적이었을 텐데 일단 임의로 수동으로 잘라본다... ㅠ)
(measure: 일단 따로 떼어놓기 (근데 쓸 일 없을 듯...)

In [37]:
df = df.copy()
df = df[['Name', 'ID', 'Alcoholic', 'Category', 'Glass', 'IBA', 'Ingredient1', 'Ingredient2', 'Ingredient3', 'Ingredient4', 'Ingredient5']]
df

                                     Name  ...  Ingredient5
0    '57 Chevy with a White License Plate  ...          NaN
1                          1-900-FUK-MEUP  ...   Malibu rum
2                        110 in the shade  ...          NaN
3                  151 Florida Bushwacker  ...    Cointreau
4                             155 Belmont  ...          NaN
..                                    ...  ...          ...
541                       Zippy's Revenge  ...          NaN
542                        Zizi Coin-coin  ...          NaN
543                                Zoksel  ...         7-Up
544                             Zorbatini  ...          NaN
545                                 Zorro  ...          NaN

[546 rows x 11 columns]

In [32]:
df['Alcoholic'].unique()

array(['Alcoholic', 'Non alcoholic', 'Optional alcohol', nan,
       'Non Alcoholic'], dtype=object)

In [33]:
#'Non alcoholic', 'Non Alcoholic' 통일
df['Alcoholic'] = df['Alcoholic'].replace('Non Alcoholic', 'Non alcoholic', regex=True)

In [34]:
df['Alcoholic'].isnull().sum()

1

In [35]:
df[df['Alcoholic'].isnull()]

                         Name     ID Alcoholic  ... Measure7 Measure8 Measure9
190  Cherry Electric Lemonade  17174       NaN  ...     1 oz     3 oz      NaN

[1 rows x 36 columns]

In [40]:
#결측치 1건은 alcoholic으로 대체 
df['Alcoholic'] = df['Alcoholic'].fillna('Alcoholic')

In [38]:
df['IBA'].unique()

array([nan, 'Unforgettables', 'New Era Drinks', 'Contemporary Classics'],
      dtype=object)

In [39]:
#IBA 컬럼의 null값은 IBA 비공식이라는 뜻이므로 unofficial로 대체 
df['IBA'] = df['IBA'].fillna('unofficial')

In [41]:
#대소문자를 통일하지 않아 Ingredients 등의 컬럼에 중복값이 생긴 것을 확인 -> 소문자로 통일하여 중복값을 제거하는 함수 적용
def engineering(df):
  df = df.copy()
  
  df['Ingredient1'] = df['Ingredient1'].str.lower()
  df['Ingredient2'] = df['Ingredient2'].str.lower()
  df['Ingredient3'] = df['Ingredient3'].str.lower()
  df['Ingredient4'] = df['Ingredient4'].str.lower()
  df['Ingredient5'] = df['Ingredient5'].str.lower()
  df['Glass'] = df['Glass'].str.lower()

  return df

In [42]:
engineering(df)

                                     Name  ...  Ingredient5
0    '57 Chevy with a White License Plate  ...          NaN
1                          1-900-FUK-MEUP  ...   malibu rum
2                        110 in the shade  ...          NaN
3                  151 Florida Bushwacker  ...    cointreau
4                             155 Belmont  ...          NaN
..                                    ...  ...          ...
541                       Zippy's Revenge  ...          NaN
542                        Zizi Coin-coin  ...          NaN
543                                Zoksel  ...         7-up
544                             Zorbatini  ...          NaN
545                                 Zorro  ...          NaN

[546 rows x 11 columns]

####잠깐 냅두자

In [ ]:
import pandas_profiling

In [ ]:
pip install pandas-profiling

Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.1.5)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (3.2.2)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.8->pandas-profiling) (2.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.3.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.19.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (3.0.6)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pandas-profiling) (2018.9)

In [ ]:
profile = df.profile_report()
profile

AttributeError: ignored

### 모델링에 도전한다!

In [56]:
df

                                     Name  ...  Ingredient5
0    '57 Chevy with a White License Plate  ...          NaN
1                          1-900-FUK-MEUP  ...   Malibu rum
2                        110 in the shade  ...          NaN
3                  151 Florida Bushwacker  ...    Cointreau
4                             155 Belmont  ...          NaN
..                                    ...  ...          ...
541                       Zippy's Revenge  ...          NaN
542                        Zizi Coin-coin  ...          NaN
543                                Zoksel  ...         7-Up
544                             Zorbatini  ...          NaN
545                                 Zorro  ...          NaN

[546 rows x 11 columns]

In [57]:
df_ingredient= df['Ingredient1'].astype(str) + ' '+ df['Ingredient2'].astype(str)+ ' '+ df['Ingredient3'].astype(str)+ ' '+ df['Ingredient4'].astype(str)+ ' '+ df['Ingredient5'].astype(str)
df_ingredient.replace(' / ', '', regex=True, inplace=True)
df_ingredient.replace('nan', '', regex=True, inplace=True)
df_ingredient

0                                Creme de Cacao Vodka
1      Absolut Kurant Grand Marnier Chambord raspberr...
2                                       Lager Tequila
3      Malibu rum Light rum 151 proof rum Dark Creme ...
4                 Dark rum Light rum Vodka Orange juice
                             ...
541                              Amaretto Rum Kool-Aid
542                     Cointreau Lemon juice Ice Lemon
543               Beer Root beer Lemonade Coca-Cola 7-Up
544                                        Vodka Ouzo
545    Sambuca Bailey's irish cream White Creme de Me...
Length: 546, dtype: object

In [59]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#TF-IDF Vectorizer 객체를 정의
tfidf = TfidfVectorizer()

#데이터를 적합하고 변환하여 필요한 TF-IDF 행렬을 구성
tfidf_matrix = tfidf.fit_transform(df_ingredient)

#Output the shape of tfidf_matrix
tfidf_matrix.shape #

(546, 283)

In [60]:
tfidf_matrix

<546x283 sparse matrix of type '<class 'numpy.float64'>'
	with 3044 stored elements in Compressed Sparse Row format>

In [61]:
# DataFrame의 인덱스를 재설정하고 역방향 매핑을 구성
df_ingredient = df_test.reset_index()
indices = pd.Series(df_ingredient.index, index=df['ID'])

In [62]:
indices.shape

(546,)

In [63]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [64]:
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.13901709,
        0.33476195],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.13901709, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.33476195, 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [65]:
def get_recommendations(get_title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[get_title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 3 most similar movies
    sim_scores = sim_scores[1:4] # 10개도 가능

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 3 most similar movies
    return df2['메뉴'].iloc[movie_indices]

In [66]:
df_ingredient

     level_0  index                           0
0          0      0          Alcoholic Cocktail
1          1      1              Alcoholic Shot
2          2      2              Alcoholic Beer
3          3      3    Alcoholic MilkFloatShake
4          4      4          Alcoholic Cocktail
..       ...    ...                         ...
541      541    541          Alcoholic Cocktail
542      542    542  Alcoholic PunchParty Drink
543      543    543    Alcoholic Soft DrinkSoda
544      544    544          Alcoholic Cocktail
545      545    545         Alcoholic CoffeeTea

[546 rows x 3 columns]

난제 

- thecocktaildb에 업데이트가 생길 때마다 자동으로 긁어올 수는 없을까 
- 가중치를 줘서 계산할 수 없을까?